wandb/
__pycache__/
model_ckpts/
_utils/_evaluation/evaluation_files/
HF-databases/
_comp_metrics/
API_keys.jsonc
optuna_hpsearch_cllmv2.db
benchmark_metrics.csv
_utils/_evaluation_conditional/alignn_model_ckpts/
_utils/_evaluation_conditional/evaluation_files/
_models/Slider_model copy.py
_utils/_evaluation_og/lematerial-small-ppo_gen.parquet
logs/
.github/*.md
.github/*.MD
notebooks/Z_rsync.ipynb
.exclude-rsync.txt
*ignore.txt
.env
__*/

/data/
/outputs/

!/tests/fixtures/
!/tests/fixtures/**
/tests/fixtures/**/__pycache__/
.vscode/
CLAUDE.md

fontlist*.json
.ignore/
.docs/
.pytest_cache/
emissions.csv
*.egg-info/
build/
dist/
